/*
 * RaptorSeq example configuration
 *
 * Copy this file and edit paths for your local, HPC, or cloud environment.
 *
 * Example:
 *   cp conf/example.config conf/local.config
 *
 * Then run:
 *   nextflow run . \
 *     -c conf/local.config \
 *     --reads "data/*_R{1,2}*.fastq.gz" \
 *     --outdir results \
 *     -resume
 */


// -----------------------------------------------------------------------------
// Container engine
// -----------------------------------------------------------------------------

/*
 * Choose one container system.
 *
 * For Singularity / Apptainer:
 */
singularity {
    enabled = true

    /*
     * Add bind mounts needed by your system.
     * Examples:
     *   runOptions = '-e -B /path/to/data -B /path/to/databases'
     */
    runOptions = '-e'
}

/*
 * For Docker, comment out the singularity block above and uncomment:
 *
 * docker {
 *     enabled = true
 * }
 */


// -----------------------------------------------------------------------------
// Parameters
// -----------------------------------------------------------------------------

params {

    // -------------------------------------------------------------------------
    // Core run parameters
    // -------------------------------------------------------------------------

    /*
     * Input FASTQ pattern.
     *
     * Expected paired-end naming:
     *   sample_R1.fastq.gz
     *   sample_R2.fastq.gz
     *
     * Override at runtime when possible:
     *   --reads "data/*_R{1,2}*.fastq.gz"
     */
    reads = "data/*_R{1,2}*.fastq.gz"

    /*
     * Output directory.
     */
    outdir = "results"

    /*
     * FastQC CPU setting.
     */
    fastqc_cpus = 2


    // -------------------------------------------------------------------------
    // Reference database paths
    // -------------------------------------------------------------------------
    /*
     * Replace these with paths to local or cluster reference databases.
     */

    mash_refseq                      = "/path/to/databases/mash/refseq.msh"
    mash_refseq_legionella           = "/path/to/databases/mash/legionella.msh"

    kraken_db                        = "/path/to/databases/kraken2/standard"

    clockwork_ref                    = "/path/to/databases/clockwork/ref.fa"
    clockwork_remove_contam_metadata = "/path/to/databases/clockwork/remove_contam_metadata.tsv"

    abricate_db_dir                  = "/path/to/databases/abricate/db"
    abricate_db_plasmidfinder        = "plasmidfinder"

    serotypefinder_db                = "/path/to/databases/serotypefinder/database"


    // -------------------------------------------------------------------------
    // Tool-specific defaults
    // -------------------------------------------------------------------------

    shovill_ram   = "64"
    shovill_gsize = "5M"

    /*
     * Optional fixed FastQC executable path.
     * Leave blank/null if FastQC is available inside the container or PATH.
     */
    fastqc = null

    /*
     * Optional MASH database overrides.
     * Keys correspond to mode names, for example:
     *   --mode legionella
     */
    mash_db_overrides = [
        legionella: "/path/to/databases/mash/legionella.msh"
    ]


    // -------------------------------------------------------------------------
    // Helper scripts and MultiQC config
    // -------------------------------------------------------------------------

    /*
     * Directory containing helper scripts used by local modules.
     */
    scripts = "${baseDir}/bin"

    /*
     * Custom MultiQC configuration used by the final reporting step.
     */
    multiqc_config = "${baseDir}/bin/final_multiqc.yaml"


    // -------------------------------------------------------------------------
    // Container paths
    // -------------------------------------------------------------------------
    /*
     * Replace these with local Singularity image paths or Docker image names.
     *
     * Singularity example:
     *   shovill_container = "/path/to/containers/shovill.sif"
     *
     * Docker example:
     *   shovill_container = "staphb/shovill:1.1.0"
     */

    lyveset_container        = "/path/to/containers/lyveset.sif"
    kraken_container         = "/path/to/containers/kraken2.sif"
    mash_container           = "/path/to/containers/mash.sif"
    shovill_container        = "/path/to/containers/shovill.sif"
    bwa_container            = "/path/to/containers/bwa.sif"
    samtools_container       = "/path/to/containers/samtools.sif"
    quast_container          = "/path/to/containers/quast.sif"
    serotypefinder_container = "/path/to/containers/serotypefinder.sif"
    seqsero_container        = "/path/to/containers/seqsero2.sif"
    clockwork_container      = "/path/to/containers/clockwork.sif"
    tbprofiler_container     = "/path/to/containers/tbprofiler.sif"
    abricate_container       = "/path/to/containers/abricate.sif"
    amrfinder_container      = "/path/to/containers/amrfinderplus.sif"
    mlst_container           = "/path/to/containers/mlst.sif"
    multiqc_container        = "/path/to/containers/multiqc.sif"

    /*
     * Leave null when MashWrapper is run through the host environment or module
     * system instead of a dedicated container.
     */
    mashwrapper_container = null
}


// -----------------------------------------------------------------------------
// Process-specific resource and container overrides
// -----------------------------------------------------------------------------

process {

    // -------------------------------------------------------------------------
    // Read cleaning and read-level QC
    // -------------------------------------------------------------------------

    withName: CLEAN {
        container   = params.lyveset_container
        cpus        = 4
        memory      = '4 GB'
        stageInMode = 'copy'
    }

    withName: SPLIT_CLEAN {
        container = params.lyveset_container
        cpus      = 4
        memory    = '4 GB'
    }

    withName: FASTQC_RAW {
        cpus   = params.fastqc_cpus
        memory = '2 GB'
    }

    withName: FASTQC_SPLIT_CLEAN {
        cpus   = params.fastqc_cpus
        memory = '2 GB'
    }


    // -------------------------------------------------------------------------
    // Assembly, mapping, and assembly QC
    // -------------------------------------------------------------------------

    withName: SHOVILL {
        container = params.shovill_container
        cpus      = 8
        memory    = '16 GB'
    }

    withName: BWA {
        container = params.bwa_container
        cpus      = 4
        memory    = '8 GB'
    }

    withName: SAMTOOLS {
        container = params.samtools_container
        cpus      = 4
        memory    = '8 GB'
    }

    withName: QUAST {
        container = params.quast_container
        cpus      = 4
        memory    = '8 GB'
    }


    // -------------------------------------------------------------------------
    // Taxonomic classification
    // -------------------------------------------------------------------------

    withName: KRAKEN {
        container = params.kraken_container
        cpus      = 4
        memory    = '16 GB'
    }

    withName: MASH_DEFAULT {
        container = params.mash_container
        cpus      = 4
        memory    = '8 GB'
    }

    withName: MASH_COLLECT {
        cpus   = 1
        memory = '1 GB'
    }

    withName: MASH_SPECIES {
        cpus   = 1
        memory = '1 GB'
    }


    // -------------------------------------------------------------------------
    // Optional MashWrapper reporting stack
    // -------------------------------------------------------------------------

    withName: MASHWRAPPER_BATCH {
        cpus   = 4
        memory = '8 GB'
    }

    withName: COLLATE_MASHWRAPPER {
        cpus   = 1
        memory = '1 GB'
    }

    withName: REPORT_MASHWRAPPER {
        cpus   = 1
        memory = '1 GB'
    }


    // -------------------------------------------------------------------------
    // Species-specific typing
    // -------------------------------------------------------------------------

    withName: SEROTYPEFINDER_RUN {
        container = params.serotypefinder_container
        cpus      = 4
        memory    = '8 GB'
    }

    withName: SEROTYPEFINDER_COLLECT {
        cpus   = 1
        memory = '1 GB'
    }

    withName: SEQSERO_RUN {
        container = params.seqsero_container
        cpus      = 4
        memory    = '8 GB'
    }

    withName: SEQSERO_COLLECT {
        cpus   = 1
        memory = '1 GB'
    }

    withName: CLOCKWORK {
        container = params.clockwork_container
        cpus      = 4
        memory    = '16 GB'
    }

    withName: TB_PROFILER {
        container = params.tbprofiler_container
        cpus      = 4
        memory    = '16 GB'
        time      = '1h'
    }

    withName: TB_PROFILER_COLLATE {
        container = params.tbprofiler_container
        cpus      = 2
        memory    = '4 GB'
    }


    // -------------------------------------------------------------------------
    // AMR, plasmid, and MLST analysis
    // -------------------------------------------------------------------------

    withName: PLASMID_FINDER {
        container = params.abricate_container
        cpus      = 4
        memory    = '8 GB'
    }

    withName: AMR_FINDER {
        container = params.amrfinder_container
        cpus      = 4
        memory    = '8 GB'
    }

    withName: AMR_FINDER_COLLECT {
        cpus   = 1
        memory = '1 GB'
    }

    withName: AMR_FINDER_HEATMAP {
        cpus   = 1
        memory = '1 GB'
    }

    withName: MLST {
        container = params.mlst_container
        cpus      = 4
        memory    = '4 GB'
    }


    // -------------------------------------------------------------------------
    // Alignment-derived metrics and isolate summary outputs
    // -------------------------------------------------------------------------

    withName: BWA_READMETRICS {
        container = params.lyveset_container
        cpus      = 4
        memory    = '4 GB'
    }

    withName: BWA_READMETRICS_COLLECT {
        cpus   = 1
        memory = '1 GB'
    }

    withName: ISOLATE_INFO_CLEAN {
        container = params.lyveset_container
        cpus      = 4
        memory    = '4 GB'
    }

    withName: ISOLATE_INFO_CLEAN_COLLECT {
        container = params.lyveset_container
        cpus      = 4
        memory    = '4 GB'
    }

    withName: ISOLATE_INFO_SPLIT_CLEAN {
        container = params.lyveset_container
        cpus      = 4
        memory    = '4 GB'
    }

    withName: ISOLATE_INFO_SPLIT_CLEAN_COLLECT {
        container = params.lyveset_container
        cpus      = 4
        memory    = '4 GB'
    }


    // -------------------------------------------------------------------------
    // Legionella-specific typing
    // -------------------------------------------------------------------------

    withName: 'EL_GATO:EL_GATO_RUN' {
        container = 'staphb/elgato:1.22.0'
        cpus      = 2
        memory    = '8 GB'
    }


    // -------------------------------------------------------------------------
    // Final reporting
    // -------------------------------------------------------------------------

    withName: MULTIQC {
        container = params.multiqc_container
        cpus      = 2
        memory    = '4 GB'
    }
}